form {
    position: relative;
    align-items: center;
    height: 100vh;
}

form div {
    justify-content: center;
    width: 100%;
}

form > div {
    margin: 10px 0;
}

form div > div {
    position: relative;
}

form div > div > .icon {
    position: absolute;
    right: 15px;
    top: 38px;
}