footer {
    width: 100%;   
    padding: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #b245fe, #7164e7, #5c85e8);
}

footer div,
footer nav {
    flex: 200px;
    margin: 20px;
}

footer .telefone {
    font-size: var(--text);
}

footer ul {
    list-style: none;
}

footer li {
    margin: 10px 0;
    font-size: var(--hidden-text);
}

footer a {
    color: var(--white);
}

footer p {
    margin: 10px 0;
    font-size: var(--hidden-text);
}