.input {
    border: none;
    border-radius: 5px;
    height: 40px;
    width:100%;
    padding: 0 20px;
    margin: 10px 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
}

.input:focus {
    outline: 2px solid var(--primary-color);
    background-color: #f3923780;
}

.checkbox {
    position: relative;
    z-index: -1;
    display: flex;
    left: -15px;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

input:checked ~.checkbox {
    background-color: var(--primary-color);
}

.checkbox::after {
    display: none;
    content: "";
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input:checked ~.checkbox::after {
    display: block;
}