@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F39237;
    --secondary-color: #111111;
    --bg-color: #080808;
    --text-color: #EFF1F3;
    --secondary-text-color: #808080;
}

body {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    width: 80%;
}

ul {
    list-style: none;
}

li {
    font-size: small;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: small;
    color: var(--primary-color);
}

.bottom {
    position: absolute;
    bottom: 30px;
}

.info {
    color: var(--primary-color);
    height: 15px;
}

.icon {
    width: 20px;
}

.content {
    padding: 30px;
    box-sizing: border-box;
}

h1 {
    font-size: xx-large;
    margin: 10px 0;
}

h3 {
    font-size: medium;
}

p {
    font-size: small;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.paint {
    color: var(--primary-color);
}

hr {
    margin: 10px 0;
}

.hidden {
    color: var(--secondary-text-color);
}